<div id="<%= dom_id employee %>" class="table-row">
  <div class="table-cell pr-4">
    <%= employee.name %>
  </div>

  <div class="table-cell pr-4">
    <%= employee.position %>
  </div>

  <div class="table-cell pr-4">
    <%= employee.office %>
  </div>

  <div class="table-cell pr-4">
    <%= employee.age %>
  </div>

  <div class="table-cell pr-4">
    <%= employee.start_date %>
  </div>
</div>
